venv/
__pycache__/
*.pyc
*.log
*.mp4
second
# Ignore trained YOLOv8 weights
runs/detect/custom_yolov8_run_aditya/weights/best.pt

# Ignore trained YOLOv8 weights
runs/detect/custom_yolov8_run_aditya/weights/best.pt

# Ignore trained YOLOv8 weights
runs/detect/custom_yolov8_run_aditya/weights/best.pt

# Ignore trained YOLOv8 weights
runs/detect/custom_yolov8_run_aditya/weights/best.pt

# Ignore trained YOLOv8 weights
runs/detect/custom_yolov8_run_aditya/weights/best.pt
